
#comparador {

    position: static;
    margin-top: 20px;
    top: 20px;
    float: right;
    width: 45%;
    height: 500px;
    border-radius: 6px;
}

#form {
    float: left;
    width: 45%;
    height: 572px;

}
